*{
  font-family: 'IBM Plex Sans', sans-serif;
}

/* navbar */
.navbar {
  background-color: #04030F;
}

/* canvas */

canvas {
  border: 5px #04030F solid;
  position: absolute;
  top: 110px;
  bottom: 0;
  left: 300px;
  right: 0px;
}
#canvasContainer {
  height: 720px;
}

#canvasDraft {
  background-color: transparent;
}

/* side menu */
aside{
  display: inline-block;
}

.description{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  padding-top: 1.5rem;
}

#sides{
  width:60px;
}

#curveDistance{
  width:60px;
}

/* button */

.btn {
  width: auto;
  height: 50px;
  border-radius: 0;
  padding: 0.5rem 1rem;
}

.btn:hover {
  width: auto;
  height: 50px;
  border-radius: 0;
  background-color: #04030F;
  transition: 0.5s;
}
